<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav>
    <a href="{% url 'catalog:home' %}">Home Page</a>
    <a href="{% url 'catalog:product_list' %}">Product List</a>
</nav>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    &copy; {% now 'Y' %} My Shop
</footer>
</body>
</html>